@model StarApp.Core.Models.Compta.ContractType;


<div class="row justify-content-center">
    <h2>Create Contract</h2>
    <div class="col-md-5">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for="label" class="control-label"></label>
                <input asp-for="label" class="form-control" />
                <span asp-validation-for="label" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>